{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        clj-antlr/clj-antlr {:mvn/version "0.2.7"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"]}
  :uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.136"}}
            :main-opts ["-m" "hf.depstar.uberjar" "hledger-grammars.jar"
                        "-C" "-m" "ieugen.hledger.grammars"]}
  :antlr-js-target {:main-opts ["-e" "(org.antlr.v4.Tool/main,(into-array,[\"-Dlanguage=JavaScript\",\"grammars/timeclock.g4\",\"-o\",\"static/generated/js-parser\"]))"]}}}
